<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Konfirmation<br />
        Fredag d. 17. Maj 2019</h1>
        <p>på Låsby kro</p>
      </header>
      <p>
        Mine forældre har gjort mig opmærksom på,at mine fødder nu har fået den helt rigtige størrelse til at kunne træde ind i de voksnes rækker.
      </p>
      <p>
        Det vil derfor glæde os at se dig til min konfirmation.
      </p>
      <p>
        Vi håber, at du vil være med til at gøre dagen til en uforglemmelig oplevelse.
      </p>
      <ul class="actions">
        <li>Læs mere her på siden, og find yderlig information til dagen.</li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/profil.PNG" alt="" />
    </span>
  </section>
