<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Søg" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}">Startside</a></li>
            <li><a href="{{ 'oenskelist.html' | absolute_url }}">Ønskeliste</a></li>
            <li><a href="{{ 'overnatning.html' | absolute_url }}">Overnatning</a></li>
            <li><a href="{{ 'gaestebog.html' | absolute_url }}">Gæstebog</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Senste nyt</h2>
          </header>

        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
            <a href="{{ 'gaestebog.html' }}#disqus_thread">Gæstebog</a>
          </header>
          
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.zip_code }} {{ site.city }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved.</p>
        </footer>

    </div>
  </div>
